CORDEX.csv
Data/animation/*
Data/annual_tas_mean/*
Data/cellarea/*
Data/ERA5/*
Data/figs/*
Data/FPOP/*
Data/GHS-POP/*
Data/interactive-atlas/*
Data/labels/*
Data/mask/*
Data/output_ERA5/*
Data/output_ERA5_360_day/*
Data/sftlf/*
Data/summer_2026/*
Data/threshold/*
.cordex_env/*
.gdal_env/*
__pycache__/*
Code/CORDEX-EUR11/__pycache__/*
exist.sh
slurm/*
